@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--color-white);
}

/*Variaveis*/
:root {
    --color-white: #FFFFFF;
    --color-darkgreen: #197339;
    --color-black: #000000;
    --color-green: #80D941;
    --color-purple: #973ebd;
    
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    }


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 2.2)), url(../images/1130469.png);
    font-size: 1.6rem;
    width: 100%;
    height: 165vh;    
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-color: var(--color-black);
}


nav img {
    width: 20rem;
    height: 3rem;
    margin: 0.5px;
}

div.container {
    width: 80%;
    max-width: 1500px;
    margin:auto;
    
}


nav {
    display: flex;
    justify-content: space-between;
    padding-top:2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    flex-wrap: wrap;
    font-weight: 500;
}



.linha {
    background-color:var(--color-white);
    width: 2px;
    height: 40px;
}

.btn-outline {
    border: 2px solid var(--color-white);
    padding: 7px 15px;
    border-radius: 7px;
    transition: 0.5s;
}

.btn {
    background-color: var(--color-purple);
    border: 2px solid var(--color-purple);
    padding: 7px 15px;
    border-radius: 7px;
    transition: 0.5s;
}

.btn-bottom {
    background-color: var(--color-darkgreen);
    border: 2px solid var(--color-darkgreen);
    padding: 7px 15px;
    border-radius: 7px;
    font-weight: 500;
    transition: 0.3s;
}

.btn i,.btn-outline i,.btn-bottom i {
    vertical-align: middle; 
    margin-left: 5px;
}


div i {
    font-size: 20px;
}


.corpo-site {
    width: 70%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: 50px;
    margin: 12rem auto;
    
}

.corpo-site h1 {
    max-width: 60vw;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.corpo-site p {
    max-width: 50vw;
    letter-spacing: 2px;
    font-weight: 500;
}

.fa-gamepad {
    font-size: 25px;
}

.container a:hover {
    color: #973ebd;
    transition: 0.5s;
    
}

.btn-bottom:hover {
    transition: 0.5s;
    background-color: transparent;
    color: var(--color-green);
    border: 2px solid var(--color-green);
    .fa-gamepad {
        color: var(--color-green)
    }
}


.btn:hover {
    border: 2px solid var(--color-purple);
    color: var(--color-purple);
    background-color: transparent;
    transition: 0.5s;
    .fa-user-plus {
        color: var(--color-purple);
    }    
}
.btn-outline:hover {
    border: 2px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-black);
    .fa-right-to-bracket {
        color: var(--color-purple);
    }
}

/*cards jogos*/

.titulo-jogos {
    font-size: 40px;
    text-align: center;
    margin: 4rem 0 2rem;
    padding: 2rem;
}

.card-jogo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
    
}


.item-jogo {
    width: 350px;
    height: 515px;   
    margin: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    padding: 1rem;
    box-shadow: 1px 1px 30px var(--color-black);
    border-radius:  10px;
    transition: 0.5s;
    background:var(--color-darkgreen);

}

.imagem-jogo {
    border-radius: 10px;
    box-shadow: 0 15px 45px rgba(0,0,0,.4);
}








@media (max-width: 1094px)  { 
    nav ul {
    display: none;
    }
}
@media (max-width: 1094px) {
        .btn-bottom {
        padding:1ch;
        font-size:15px;
        }
}

.corpo-site h2 {
    font-size: 8vmin;
    text-align: left;
    padding: 0 0 30px;
}
.corpo-site p {
    text-align: left;

}
